@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //defines what 1rem is
}

body {
  margin: 0;
  margin-top: 0rem;
  max-width: device-width;
  //padding: 3rem;
  background: $color-grey-dark;
  

}