body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  list-style: 1.7;
  color: $color-white;
}

.rainbow-h1 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  background-image: conic-gradient(
    #553c9a 30%,
    #ee4b2b 40%,
    #ee4b2b 70%,
    #00c2cb 80%,
    #553c9a
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.foom-link {
  position: relative;
  width:100%;
  word-wrap: break-word;
}