body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  list-style: 1.7;
  color: $color-white;
}

.rainbow-h1 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  background-image: conic-gradient(
    #553c9a 30%,
    #ee4b2b 40%,
    #ee4b2b 70%,
    #00c2cb 80%,
    #553c9a
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.foom-link {
  font-weight: 700;
  font-size: 1.5rem;
  color: $color-black;
  text-decoration: none;
  position: relative;
  width: 100%;
  word-wrap: break-word;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.hollow-text {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0ee6b7;
  color: transparent;
  font-family: Poppins-Bold;
  font-size: 5rem;
  overflow: visible;
}

.conditonal-foom {
  text-align: center;
  vertical-align: middle;
  margin-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;

  &__h1 {
    color: black;

  }

  &__h2{
    color:green;
    
  }
}
