
// Solid black line
.solid-black-hr {
    position: relative;
    color: $color-black;
    background-color: $color-black;
    height: 0.5rem;
    border-color: $color-black;
    width: 80%;
    margin: auto;
   
}