

$color-black: #111111;
$color-white: #ffffff;

$color-grey-light: #aeaeae;
$color-grey-dark: #6b6b6b;

$color-blue-light: #0798d1;
$color-blue-dark: #001f3f;
$color-blue: #0074d9;

$color-autumn-yellow: #ffc311;
$color-autumn-red: #841517;
$color-autumn-orange: #d4680f;



$color-green-light: #41da62;
$color-green: #17a924;
$color-green-dark: #096542;

$color-pink: #e766ca;
$color-magenta: #862f59;

$color-purple-dark: #6b15dd;
$color-purple-light: #90349d;

$color-brown: #574f50;

//Boogle
$boogle-output-border: $color-grey-light;


//Introduction
$intro-col-blue: #69fff1;
$intro-col-primary-light: #63d471;
$intro-col-primary: #63A46c;
$intro-col-primary-dark: #233329;
$intro-col-dark: #1a201c;


$color-rectangle-left: #2fb672;
$color-rectangle-left-hover: #1dd378;

$chess-piece-dark: #261e1a;
$chess-piece-light: #4b648a;
$chess-color-light: #d0dff4;
$chess-color: #9497a0;
$chess-color-dark: #574f50;


// GRID 
$grid-width: 114rem;
$gutter-vertical: 8rem; //spaces between rows
$gutter-horizontal: 6rem; //spaces between columns

//GRID
$grid-padding: 0.5rem;