.foom-form__button {
    height: 2.2rem;
    width: 10rem;
    background-color: $color-green-light;
    color: $color-green-dark;
    font-weight: 700;
    border-radius: 0.3rem;
    box-shadow: .2rem .4rem .4rem rgba($color-black, .8);
    border: none;
    transition: transform .2s ease;
  
    &:hover, &:active{
        transform: translate(.05rem, .1rem);
        box-shadow: .15rem .3rem .3rem rgba($color-black, .8);
        font-weight: 700;
        color: lighten($color-green-dark, 10%);
        background-color: lighten($color-green, 10%);
    }

  &:focus {
    transform: translate(.08rem, .15rem);
    box-shadow: .1rem .2rem .2rem rgba($color-black, .8);
    font-weight: 700;
    color: $color-green-dark;
    background-color: $color-green;
  }
}

.header-button {
    color: $color-autumn-orange;
}