@import "../abstracts/mixins";

.section-chess {
  //flex-wrap: nowrap;
  //justify-content: space-between;
  //margin: 1rem;
  background-color: $chess-color;
  margin: 1rem;
  padding: 3rem 3rem;
  width: device-width;
  height: 100%;
  top: 0;
  text-align: center; //z-index:-1;

  @media screen and (max-width: 1100px) {
    padding: 2rem 2rem;
  }

  @media screen and (max-width: 768px) {
    padding: 1.5rem 0 1.5rem 0;
    margin: 0;
  }
}

.chess-main-box {
  position: relative;
  display: inline-block;
  background-color: $chess-color-dark;
  color: $chess-color-light;
  width: 80%;
  max-width: 80%;
  max-height: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba($color-black, 0.2);

  h1 {
    font-size: 5rem;
    margin: 3rem;
  }

  p {
    font-size: 2rem;
    margin-top: 2rem;
  }

  @media screen and (max-width: 1100px) {
    padding-top: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    flex: 2;

    h1 {
      font-size: 3rem;
      margin: 0rem 1rem 1rem 1rem;
    }

    p {
      margin-top: 2.3rem;
      font-size: 1.5rem;
    }
  }
}

.chessboard-box {
  position: relative;
  display: inline-block;
  height: $chess-board-large;
  width: $chess-board-large;
  margin: 1.5rem auto;
  // border: 3.2rem solid darken($color-brown, 25%);
  // border-radius: 0.5rem;

  @media screen and (max-width: 1100px) {
    height: $chess-board-medium;
    width: $chess-board-medium;
    // border: 2.2rem solid darken($color-brown, 25%);
    // border-radius: 0.3rem;
  }

  @media screen and (max-width: 768px) {
    // border: 0.6rem solid darken($color-brown, 25%);
    // border-radius: 0.2rem;
    margin: 1.5rem 0;
    height: $chess-board-small;
    width: $chess-board-small;
  }
}

.number-text {
  position: absolute;
  top: 0;
  left: 0.2rem;
  @include unDragable;
}

.letter-text {
  position: absolute;
  bottom: 0;
  right: 0.2rem;
  @include unDragable;
}

.piece-image {
  height: 100%;
  width: 100%;
  text-align: center;

  &__image {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    cursor: move;

    @media screen and (max-width: 1100px) {
      margin-top: 0.6rem;
    }

    @media screen and (max-width: 768px) {
      margin-top: 0.4rem;
    }
  }
}

.chess-button {
  padding: 0 1rem;
  font-weight: 700;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.4rem 0.4rem rgba($color-black, 0.2);
  border: none;
  margin: 1rem 2rem;
  padding: 0.5rem 1.5rem;
  transition: transform 0.2s ease;

  @media screen and (max-width: 768px) {
    margin: 1rem 1rem;
  }

  &__white {
    background-color: $color-white;
  }

  &__black {
    background-color: $color-black;
    color: $color-white;
  }

  &__begin {
    background-color: $chess-color-light;
    color: $chess-color-dark;
    margin-left: 8rem;

    @media screen and (max-width: 768px) {
      margin-left: 4rem;
    }
  }
}

.promotion-overlay {
  position: absolute;
  display: block;
  width: calc($chess-board-large/2);
  height: calc($chess-board-large/8);
  background-color: $chess-color-dark;
  z-index: 200;
  cursor: pointer;
  margin-left: calc($chess-board-large/4);
  transition: all 0.5s ease-in;

  // &__white {

  // }

  // &__black{

  // }

  &__box {
    display: inline-block;
    width: 25%;
    margin: 0;
  }

  @media screen and (max-width: 1100px) {
    height: calc($chess-board-medium/8);
    width: calc($chess-board-medium/2);
    margin-left: calc($chess-board-medium/4);
  }

  @media screen and (max-width: 768px) {
    height: calc($chess-board-small/8);
    width: calc($chess-board-small/2);

    margin-left: calc($chess-board-small/4);
  }
}

.promotion-black-out {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: none;
  transition: all 0.5s ease-in;
}

.checkmate-box {
  width: 100%;
  height: 30%;
  margin-top: 9rem;

  &__text {
    color: $chess-color-light;
    font-size: 7rem;
    text-transform: uppercase;
    width: 100%;

    @media screen and (max-width: 1100px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }
  &__button {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    width: 25%;
    height: 25%;
    border-radius: 2px;
    display: block;
  }
}

.turn-white {
  color: $color-white;
}
.turn-black {
  color: $color-white;
}