.foom-form {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;

  &__h1 {
    font-size: 20rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(
        to right,
        $color-blue-dark,
        $color-blue-light
      );
    transform: translateX(-21rem);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.7s;
    margin: 0;

    &:hover {
      color: $color-blue-light;
    }

    &:before {
      translate: transformX(5rem);
    }

    &:hover:before {
      translate: transformX(5rem);
    }
  }

  &__label {
    padding-top: 0rem;
    color: #e766ca;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid $color-grey-light;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

}
