.foom-form {
  margin: 2rem auto;
  padding: 1rem;
  width: 35rem;
  max-width: 40rem;
  text-align: center;

  h1 {
    position: relative;
    font-size: 20rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    transform: translateX(-14rem);
    background-clip: text;
    background-image: linear-gradient(
      to right,
      $color-blue-dark,
      $color-blue-light
    );

    background-size: 10rem;

    color: transparent;
    letter-spacing: 2px;

    transition: all 0.7s;
    margin: 0;
    overflow: hidden;

    &:hover {
      color: $color-blue-light;
      //background-image: none;
    }

    @media screen and (max-width: 1280px) {
      font-size: 17.5rem;
      transform: translateX(-10rem);
    }
    @media screen and (max-width: 768px) {
      font-size: 10rem;
      transform: translateX(0);
    }
  }

  label {
    padding-top: 0rem;
    color: #e766ca;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  input {
    display: inline-block;
    width: 100%;
    border: 1px solid $color-grey-light;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
    font-weight: 700;

    @media screen and (max-width: 1000px) {
      width: 75%;
    }
  }
}
