.intro-main-box {
  position: relative;
  display: inline-block;
  background-color: $color-white;
  color: $color-black;
  //padding: 10rem 20rem;
  width: 100%;
  max-width: 40%;
  max-height: 100%;

  border-style: 0px solid $color-black;
  border-left-width: 3rem;
  border-radius: 2px;
  text-align: center;
  order: -1;
  padding-top: 25rem;

  h1 {
    margin: 3rem;
  }

  p {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  @media screen and (max-width: 1280px) {
    padding-top: 3rem;
    flex: 2;
    max-width: 100%;

    h1 {
      font-size: 3rem;
      margin: 1rem;
    }

    p {
      margin-top: 2.3rem;
      font-size: 1rem;
    }
  }
}

.intro-image-box {
  display: flex;
  height: 100%;
  width: 100%;

  &__image {
    position: relative;
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 1280px) {
    max-height: 80%;
    flex: 5;
  }
}
