.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7.5rem;
    width: 7.5rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 2px;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.15);
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 12rem;
    right: 0;
    z-index: 1500;

    pointer-events: none;
    cursor: default;
    opacity: 0;
    width: 100%;
    transition: all 0.8s ease;
    //cubic-bezier(0.68, -0.6, 0.32, 1.6)
  }

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    text-align: right;
  }

  &__item {
    margin: 0 1.5rem 1rem 1.5rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 2px;
      background-image: linear-gradient(
        120deg,
        darken($color-grey-dark, 18%) 0%,
        darken($color-grey-dark, 18%) 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.5s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-black;
      transform: translateX(-1rem);
    }
  }

  //Functionality
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    pointer-events: all;
    cursor: pointer;
  }

  //ICON
  &__icon {
    margin-top: 3.6rem;
    position: relative;
    &,
    &::before,
    &::after {
      width: 3.3rem;
      height: 3px;
      background-color: $color-grey-dark;
      display: inline-block;
      user-select: none;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }

  &__button:hover &__icon:before {
    top: -1.2rem;
  }

  &__button:hover &__icon:after {
    top: 1.2rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: translateY(1rem) rotate(45deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: translateY(-1rem) rotate(-45deg);
  }
  &__checkbox:checked + &__button:hover &__icon::before {
    transform: scale(1.1) rotate(45deg);
  }
  &__checkbox:checked + &__button:hover &__icon::after {
    transform: scale(1.1) rotate(-45deg);
  }
}
