.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7.5rem;
    width: 7.5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    border-radius: 2px;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
    text-align: center;
    cursor: pointer;
    user-select: none;

    @media screen and (max-width: 768px) {
      top: 1rem;
      right: 1rem;
      height: 4rem;
      width: 4rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 11rem;
    right: 0.5rem;
    z-index: 1500;

    pointer-events: none;
    cursor: default;
    opacity: 0;
    width: 100%;
    transition: all 0.8s ease;
    //cubic-bezier(0.68, -0.6, 0.32, 1.6)

    @media screen and (max-width: 768px) {
      top: 6rem;
      right: 0;
    }
  }

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    text-align: right;
  }

  &__item {
    margin: 0 1.5rem 1rem 1.5rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 500;
      padding: 1rem 2rem;
      color: darken($color-white, 5%);
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 2px;
      background-image: linear-gradient(
        120deg,
        darken($color-grey-dark, 18%) 0%,
        darken($color-grey-dark, 18%) 50%,
        darken($color-white, 5%) 50%
      );
      background-size: 230%;
      transition: all 0.5s;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        font-weight: 300;
        padding: 0.5rem 1rem;
        transform: translateX(.5rem);
      }
    }

    &:hover,
    &:active {
      box-shadow: 0 1rem 3rem rgba($color-black, 0.3);
      background-position: 100%;
      color: $color-black;
      transform: translateX(-1rem);
    }
    @media screen and (max-width: 768px) {
      &:hover,
      &:active {
        top: 6rem;
        right: 0;        
        transform: translateX(.5rem);

      }
    }
  }

  //Functionality
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    pointer-events: all;
    cursor: pointer;
  }

  //ICON
  &__icon {
    margin-top: 3.6rem;
    position: relative;
    &,
    &::before,
    &::after {
      width: 3.3rem;
      height: 3px;
      background-color: $color-grey-dark;
      display: inline-block;
      user-select: none;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -1rem;
      @media screen and (max-width: 768px) {
        margin-top: 0rem;
        width: 2rem;
        top: -0.7rem;
      }
    }
    &::after {
      top: 1rem;
      @media screen and (max-width: 768px) {
        margin-top: 0.5rem;
        width: 2rem;
        top: 0.2rem;
      }
    }
    @media screen and (max-width: 768px) {
      margin-top: 2rem;
      width: 2rem;
    }
  }

  &__button:hover &__icon:before {
    top: -1.2rem;

    @media screen and (max-width: 768px) {
      margin-top: 0rem;
      width: 2rem;
      top: -0.9rem;
    }
  }

  &__button:hover &__icon:after {
    top: 1.2rem;

    @media screen and (max-width: 768px) {
      margin-top: 0.5rem;
      width: 2rem;
      top: 0.4rem;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: translateY(1rem) rotate(45deg);
    @media screen and (max-width: 768px) {
      transform: translateY(0.7rem) rotate(45deg);
    }
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: translateY(-1rem) rotate(-45deg);

    @media screen and (max-width: 768px) {
      transform: translateY(-0.7rem) rotate(-45deg);
    }
  }
  &__checkbox:checked + &__button:hover &__icon::before {
    transform: scale(1.1) rotate(45deg);

    @media screen and (max-width: 768px) {
      transform: translateY(0.28rem) rotate(45deg);
    }
  }
  &__checkbox:checked + &__button:hover &__icon::after {
    transform: scale(1.1) rotate(-45deg);

    @media screen and (max-width: 768px) {
      transform: translateY(-0.28rem) rotate(-45deg);
    }
  }
}
