.output {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .output ul {
    list-style: none;
    padding: 1rem;
  }
  
  .output li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .output h1{
    font-size: 20px;
    font-weight: 600;
    background-image: conic-gradient(#553c9a 30%, #ee4b2b 40%, #ee4b2b 70%, #00c2cb 80%, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .output h2{
    font-size: 10px;
    font-weight: 600;
    background-image: black;
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
  }

